
.top{
    font-size:20px;
    background-color: goldenrod;
    height: 100px;
    font-weight: 300px;
    align-content: center;
    
}   

.head1{
    margin-left: 20px;
}

.head2{
    margin-left: 20px;
}

.head3{
    margin-left: 20px;
}


.one{
    color:royalblue;
    display: flex;
    font-size:25px;
    justify-content:space-evenly;
    font-weight: 100px ;
    margin-top: 20px;
}

.content1{
    color: blue;
    font-weight: 500px;
    font-size:50px ;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.content2{
    color: blue;
    font-weight: 300px;
    font-size:30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.content3{
    color: blue;
    font-weight:300px;
    font-size:30px;
    display: flex;
    justify-content: center;
    
}

.content4{
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size:20px ;
}


 .button-a{
    display: flex;
    justify-content: space-around;
}

.button-b{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


input[type="button"]{
    height: 200px;
    width: 350px;
    
}


.img1{
    height: 200px;
    width: 350px;
   background-image: url("brands.jpg");
   background-size: cover;
}

.img2{
    height: 200px;
    width: 350px;
   background-image: url("classic.jpg");
   background-size: cover;
}

.img3{
    height: 200px;
    width: 350px;
   background-image: url("duotone.png");
   background-size: cover;
}

.img4{
    height: 200px;
    width: 350px;
   background-image: url("sharp.png");
   background-size: cover;
}

.img5{
    height: 200px;
    width: 350px;
   background-image: url("chisel.jpg");
   background-size: cover;
}

.img6{
    height: 200px;
    width: 350px;
   background-image: url("whiteboard.jpg");
   background-size: cover;
}

.text{
    height: 40px;
    width: 30px;
  
}
.text1{
    height: 40px;
    width: 8rem;
    padding:30px ;
    margin-left: 100px;
    margin-top: 70px;
    font-size: 15px;
    border-radius: 10px;
    }

    .two-1{
        font-size: 20px;
        color:gold;
        margin-top: 70px;
        text-align: center;
        font-weight: 500;
    }

    .two-2{
        font-size: 30px;
        color:blue;
        margin-top: 50px;
        text-align: center;
        font-weight: bold ;
    }
    
    .two-3{
        font-size: 20px;
        margin-top:30px ;
        text-align:center;
        color: blue;
        font-weight: lighter;
    }

    .three-1{
        background-color: darkgoldenrod;
        height: 500px;
        width:1000px;
        margin-top:80px;
        margin-left: 400px;
        border-radius:50px;
        
        
    }

    .three-2{
        background-color: aqua;
        height:500px;
        width:1000px ;
        margin-top: 80px;
        margin-right: 400px;
        border-radius: 50px;
    }
    
   .three{
    display: flex;
    
   }

   .three-pro{
    text-align: center;
    margin-top: 30px;
    

   }

   .pro-1{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: xx-large;
   }

   .box1-text{
    
       font-weight: lighter;
        color:black;
        text-align: center; 
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

   }

   .box2-text{
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    margin-top: 30px;
   }
   .box3-text{
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
   }
   .box4-text{
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
   }
   .box5-text{
    font-weight: lighter;
    color:black;
    margin-left: 50px;
    margin-top: 10px;
   }

   .box6-text{
    border: 1px solid;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 60px;
   }


     .three-pro2{
    text-align: center;
    margin-top: 30px;
     }

   .pro-2{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: xx-large;
   }

   .box7-text{
    
       font-weight: lighter;
        color:black;
        text-align: center; 
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

   }

   .box8-text{
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    margin-top: 30px;
   }
   .box9-text{
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
   }
   .box10-text{
    font-weight: lighter;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
   }
   .box11-text{
    font-weight: lighter;
    color:black;
    margin-left: 50px;
    margin-top: 10px;
   }

   .box12-text{
   font-weight: lighter;
    color:black;
    margin-left: 50px;
    margin-top: 10px;
   }

   .box13-text{
    border: 1px solid;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 60px;
   }

 .four-1{
    height: 100px;
    width: 400px;
    background-color: darkslateblue;
    margin-left: 560px;
    margin-top: 90px;
    border-radius: 20px;
    
 }
 .four-2{
    font-size: x-large;
    font-weight:bolder;
    padding-left:100px;
    padding-top: 30px;
    color: cyan;
 }
 .four-3{
    font-size: large;
    font-weight: bold;
    padding-left: 150px;
    color: aliceblue;
    padding-top: 10px;
 }

 .four-4{
    height: 60px;
    width: 400px;
    background-color: cyan;
    border-radius: 20px;
    margin-left: 560px;
    margin-top: 50px;
    border: 1px solid;
 }
 .four-5{
   text-align: center;
   color:mediumblue;
   font-weight: bolder;
   padding-top: 15px;
   font-size: x-large;
}
.four-6{
    border: 4px solid;
    height: 60px;
    width: 400px;
    margin-top: 50px;
    margin-left: 560px;
    border-radius: 20px;
}
.four-7{
    text-align: center;
    color: blue;
    font-weight: bolder;
    padding-top: 15px;
    font-size: x-large;
}
.four-8{
    text-align: center;
    color:blue;
    font-weight: lighter;
    margin-top: 40px;
    font-size: large;
    margin-left: 15px;

}
.four-9{
    color: blue;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    margin-left: 20px;

}
.four-10{
    color: blue;
    text-align: center;
    margin-top: 30px;
    font-weight: lighter;
}

.five{
    background-color:beige;
    height: 250px;
    width: 500px;
    margin-left: 200px;
    margin-top: 100px;
    border: 1px solid wheat;
}
.six{
    background-color:beige;
    height: 250px;
    width: 500px;
    margin-top: 100px;
    margin-right: 200px;
    border: 1px solid wheat;
}
.five-six{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.seven{
    background-color:beige;
    height: 250px;
    width: 500px;
    margin-top: 100px;
    margin-left: 500px;
    border: 1px solid wheat;
}
.five-sub{
    padding-top: 100px;
    padding-left: 30px;
}
.five-1{
    font-size: x-large;
    color:darkslateblue;
}
.five-2{
    color: darkslateblue;
    padding-top: 10px;
}
.six-sub{
    padding-top: 100px;
    padding-left: 30px;
}
.six-1{
    font-size: x-large;
    color:darkslateblue;
}
.six-2{
    color: darkslateblue;
    padding-top: 10px;
}
.seven-sub{
    padding-top: 100px;
    padding-left: 30px;
}
.seven-1{
    font-size: x-large;
    color:darkslateblue;
}
.seven-2{
    color: darkslateblue;
    padding-top: 10px;
}

.eight{
    background-color: darkblue;
    height: 300px;
    width:1500px;
    margin-top: 50px;
    margin-right: 50px;
}
.eight-1{
    color: darkgoldenrod;
    padding-top: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    
}
